<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Where to Buy <%=t[t.length-1]%> Online ? | Pharmacy Prices Comparison</title>
	<meta name="description" content="Find the best deals and lowest prices for <%=t[t.length-1]%> online. Compare prices across top Indian online pharmacies and medicine stores to buy <%=t[t.length-1]%> at the best price.">
	
	<meta name="keywords" content="<%=t[t.length-1]%>, where to buy <%=t[t.length-1]%> online, <%=t[t.length-1]%> price comparison, <%=t[t.length-1]%> tablet prices in India, online pharmacy <%=t[t.length-1]%>, buy <%=t[t.length-1]%>">
	
	<meta name="robots" content="index, follow">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="language" content="en-US">
	
	<meta name="author" content="Medicomp India">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
	<meta name="bingbot" content="index, follow, max-snippets:2, max-image-preview:large, max-video-preview:-1">
	
	<meta property="og:title" content="Where to Buy <%=t[t.length-1]%> Online | Pharmacy Prices Comparison">
	<meta property="og:description" content="Find the best deals and lowest prices for <%=t[t.length-1]%> online. Compare prices across top Indian online pharmacies and medicine stores to buy <%=t[t.length-1]%> at the best price.">
	<meta property="og:image" content="medicompLogo.png">
	<meta property="og:url" content="https://medicomp.in/searchPharmacies?medname=<%=t[t.length-1]%>">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="Medicomp India">
	
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@medicompindia">
	<meta name="twitter:creator" content="@medicompindia">
	<meta name="twitter:title" content="Where to Buy <%=t[t.length-1]%> Online | Pharmacy Prices Comparison">
	<meta name="twitter:description" content="Find the best deals and lowest prices for <%=t[t.length-1]%> online. Compare prices across top Indian online pharmacies and medicine stores to buy <%=t[t.length-1]%> at the best price.">
	<meta name="twitter:image" content="medicompLogo.png">

	<meta property="og:image" content="medicompLogo.png">


	<link rel="icon" type="image/png" href="medicomp_favicon.png">

	<script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6943409373544581" crossorigin="anonymous"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

	<link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="css/animate.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.js" integrity="sha512-20FZL4lG1jTZXPeMkblgj4b/fsXASK5aW87Tm7Z5QK9QmmYleVGM0NlS9swfb6XT8yrFTAWkq3QfnMe7MKIX8A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/3.6.2/fetch.min.js" integrity="sha512-1Gn7//DzfuF67BGkg97Oc6jPN6hqxuZXnaTpC9P5uw8C6W4yUNj5hoS/APga4g1nO2X6USBb/rXtGzADdaVDeA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://js.upload.io/upload-js/v2"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<style>
		@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
		@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

		body {
			font-family: "Open Sans", sans-serif;
			background: #ffffff;
			height: 100vh;
			width: 100%;
			margin: 0px;
		}

		.container {
			margin: 0 auto;
			width: 100%;
		}

		header {
			display: flex;
			align-items: center;
			font-size: 1em;
			font-weight: 600;
			color: #ffffff;
			padding: 20px;
			box-sizing: border-box;
			user-select: none;
			text-align: center;
		}

		header .button-col {
			width: 240px;
			text-align: left;
		}

		header .status-col {
			width: 145px;
		}

		header .progress-col {
			width: 190px;
		}

		header .dates-col {
			width: 150px;
		}

		header .priority-col {
			width: 170px;
		}

		header .icon-col {
			width: 30px;
			text-align: right;
		}

		header button {
			color: #bdbdbd;
			outline: none;
			border: none;
			background: #d5d5d5;
			padding: 10px 20px;
			border-radius: 2.5px;
			margin-right: 20px;
			font-size: 1em;
			font-weight: 600;
		}

		header button:hover {
			cursor: pointer;
			background: #3d3d44;
		}

		header label {
			display: inline-block;
			margin: 0 20px;
			text-align: center;
		}

		header .icon-col {
			padding-right: 20px;
		}

		.task-items {
			width: 95%;
			display: block;
			margin: auto;
		}

		div.task-items li.item {
			display: flex;
			align-items: center;
			margin: 20px 0;
			padding: 20px;
			background: #fff;
			border-radius: 5px;
			box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
		}

		.type1 {
			animation: loadName 3s linear;
		}

		@keyframes loadName {
			0% {
				position: absolute;
				top: 90%;
				width: 90%;
				margin: 0px;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0.6;
				display: block;
				height: auto;
				font-size: 18px;
			}

			15% {
				position: absolute;
				top: 50%;
				width: 90%;
				margin: 0px;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 1;
				display: block;
				height: auto;
				font-size: 18px;
			}

			100% {
				position: absolute;
				top: 10%;
				width: 90%;
				margin: 0px;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				display: block;
				height: auto;
				font-size: 18px;
			}


		}

		div.task-items li.item.type1 .task .icon {
			background: #9575cd;
		}

		div.task-items li.item.type2 .task .icon {
			background: #f48fb1;
		}

		div.task-items li.item.type3 .task .icon {
			background: #9575cd;
		}

		div.task-items li.item.type4 .task .icon {
			background: #4fc3f7;
		}

		div.task-items li.item .task {
			display: flex;
			align-items: center;
			width: 240px;
		}

		div.task-items li.item .task .icon {
			background: #bdbdbd;
			width: 50px;
			height: 50px;
			border-radius: 5px;
		}

		div.task-items li.item .task .name {
			background: #eee;
			margin-left: 20px;
			width: 180px;
			height: 25px;
			border-radius: 15px;
		}

		div.task-items li.item .status {
			display: flex;
			align-items: center;
			font-size: 1em;
			color: #2e7d32;
			width: 145px;
			margin-left: 30px;
		}

		div.task-items li.item .status .icon {
			background: #2e7d32;
			margin-right: 10px;
			width: 14px;
			height: 14px;
			border-radius: 50%;
		}

		div.task-items li.item .status .icon.risk {
			background: red;
		}

		div.task-items li.item .status .icon.warning {
			background: #ffa000;
		}

		div.task-items li.item .status .icon.off {
			background: #bf360c;
		}

		div.task-items li.item .progress {
			width: 190px;
		}

		div.task-items li.item .progress progress {
			display: block;
			margin-left: 0;
			-webkit-appearance: none;
			height: 12.5px;
			width: 142.5px;
		}

		div.task-items li.item .progress progress::-webkit-progress-bar {
			background-color: #eee;
			border-radius: 5px;
		}

		div.task-items li.item .progress ::-webkit-progress-value {
			background-color: #4dd0e1;
			border-radius: 5px;
		}

		div.task-items li.item .dates {
			width: 150px;
		}

		div.task-items li.item .dates .bar,
		div.task-items li.item .priority .bar {
			background: #eee;
			width: 100px;
			height: 25px;
			border-radius: 15px;
		}

		div.task-items li.item .priority {
			width: 144.5px;
		}

		div.task-items li.item .priority .bar {
			background: #ffcdd2;
		}

		div.task-items li.item .user {
			width: 30px;
		}

		div.task-items li.item .user img {
			border-radius: 50%;
		}
	</style>

	<style>
		.circle-loader {
			margin: 0 0 30px 10px;
			border: 3px solid rgba(0, 0, 0, 0.1);
			border-left-color: #59cdf8;
			animation-name: loader-spin;
			animation-duration: 0.6s;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			position: relative;
			display: inline-block;
			vertical-align: top;

		}

		.circle-loader,
		.circle-loader:after {
			border-radius: 50%;
			width: 2em;
			height: 2em;
		}

		.load-complete {
			-webkit-animation: none;
			animation: none;
			border-color: #59cdf8;
			transition: border 1s ease-out;
		}

		.checkmark {
			display: none;
			margin-top: 0.75em;
		}

		.checkmark.draw:after {
			animation-duration: 1s;
			animation-timing-function: ease;
			/* animation-name: checkmark; */
			transform: scaleX(-1) rotate(135deg);
		}

		.checkmark:after {
			opacity: 1;
			height: 120%;
			width: 40%;
			transform-origin: left top;
			border-right: 3px solid #59cdf8;
			border-top: 3px solid #59cdf8;
			content: '';
			position: absolute;
		}

		@keyframes loader-spin {
			0% {
				transform: rotate(0deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}

		@keyframes checkmark {
			0% {
				height: 0;
				width: 0;
				opacity: 1;
			}

			20% {
				height: 0;
				width: 1.5em;
				opacity: 1;
			}

			40% {
				height: 3em;
				width: 1.5em;
				opacity: 1;
			}

			100% {
				height: 3em;
				width: 1.5em;
				opacity: 1;
				margin-top: 1em;
			}
		}

		.btn-success {
			background: #4d4d4f;
			border-color: #4d4d4f;
		}

		.btn-success:hover {
			background: #59cdf8;
			border-color: #59cdf8;
		}

		.btn-success:active {
			background: #59cdf8;
			border-color: #59cdf8;
		}

		.btn-success:focus {
			background: #59cdf8;
			border-color: #59cdf8;
		}
	</style>

	<style>
		.switches-container {
			width: 16rem;
			position: relative;
			display: flex;
			padding: 0;
			position: relative;
			background: transparent;
			line-height: 3rem;
			border-radius: 3rem;
			margin-right: auto;
		}

		/* input (radio) for toggling. hidden - use labels for clicking on */
		.switches-container input {
			visibility: hidden;
			position: absolute;
			top: 0;
		}

		/* labels for the input (radio) boxes - something to click on */
		.switches-container label {
			width: 50%;
			padding: 0;
			margin: 0;
			text-align: center;
			cursor: pointer;
			color: var(--switches-label-color);
		}

		/* switch highlighters wrapper (sliding left / right) 
    - need wrapper to enable the even margins around the highlight box
*/
		.switch-wrapper {
			position: absolute;
			top: 0;
			bottom: 0;
			width: 50%;
			padding: 0.15rem;
			z-index: 3;
			transition: transform 0.1s cubic-bezier(.77, 0, .175, 1);
			/* transition: transform 1s; */
		}

		/* switch box highlighter */
		#switch {
			border-radius: 3rem;
			background: var(--switch-bg-color);
			height: 100%;
		}

		/* switch box labels
    - default setup
    - toggle afterwards based on radio:checked status 
*/
		#switch div {
			width: 100%;
			text-align: center;
			opacity: 0;
			display: block;
			color: var(--switch-text-color);
			transition: opacity .01s cubic-bezier(.77, 0, .175, 1) .1s;
			will-change: opacity;
			position: absolute;
			top: 0;
			left: 0;
		}

		/* slide the switch box from right to left */
		.switches-container input:nth-of-type(1):checked~.switch-wrapper {
			transform: translateX(0%);
		}

		/* slide the switch box from left to right */
		.switches-container input:nth-of-type(2):checked~.switch-wrapper {
			transform: translateX(100%);
		}

		/* toggle the switch box labels - first checkbox:checked - show first switch div */
		.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
			opacity: 1;
		}

		/* toggle the switch box labels - second checkbox:checked - show second switch div */
		.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
			opacity: 1;
		}
	</style>
	<!-- Google tag (gtag.js) -->
	<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-KSWBE6PN2J"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-KSWBE6PN2J');
	</script>

	<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-database.js"></script>

	<script src="
https://cdn.jsdelivr.net/npm/puppeteer@19.8.0/install.min.j"></script>



	<script src="
https://cdn.jsdelivr.net/npm/puppeteer/install.min.js
"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" integrity="sha512-SgaqKKxJDQ/tAUAAXzvxZz33rmn7leYDYfBP+YoMRSENhf3zJyx3SBASt/OfeQwBHA1nxMis7mM3EV/oYT6Fdw==" crossorigin="anonymous" referrerpolicy="no-referrer">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/regular.min.css" integrity="sha512-WidMaWaNmZqjk3gDE6KBFCoDpBz9stTsTZZTeocfq/eDNkLfpakEd7qR0bPejvy/x0iT0dvzIq4IirnBtVer5A==" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.6.1/css/all.css">

	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">

	<link rel="stylesheet" href="css/aos.css">

	<link rel="stylesheet" href="css/ionicons.min.css">

	<link rel="stylesheet" href="css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="css/jquery.timepicker.css">


	<link rel="stylesheet" href="css/flaticon.css">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="css/style.css">



	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.js" integrity="sha512-A/D/17S8jG62ka9f3jPwMs+bKGJ1f/xQts7bAUjTIKQf0anTGjlpuEz3q9q++3qRAVYKS3iVx6KzM8GPtIaYfw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cheerio/0.22.0/index.js" integrity="sha512-+obmGUxyA+OfXW4RU7Ez2JBbCFy+dmZatW/Z5u/PDZlY+SKzAMSHzpNfTDohw7RFfW+zmLrI9h19XiODWZRO5A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cheerio/0.22.0/index.min.js" integrity="sha512-e0BgZBWe7/3JF1To6KxVcaoki2aQd3f6aWyRf9R+dOPgDUfn7czha9/wLHzNgVmUaORT2cEq+lyjxjoQmPEiHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<style>
	*::-webkit-scrollbar {
		display: none;
	}

	#foodItem,
	#addbtn:hover {
		cursor: pointer;
	}
</style><style>
	.contain {
		max-width: 600px;
		margin: 20px auto;
		border-radius: 5px;
		border: 1px solid #ffffff;
		padding: 32px;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}

	.contain>.button,
	.button:visited,
	.button:active,
	.button:focus {
		display: inline-block;
		background-color: transparent;
		border: 1px solid #ccc;
		line-height: 2em;
		padding: 0 30px;
		color: #ccc;
		text-decoration: none;
	}

	.contain>.button:hover {
		background-color: #ccc;
		border-color: #ccc;
		color: #000;
	}

	.contain>#list {
		overflow-x: hidden;
		overflow-y: hidden;
		height: auto;
		width: 100%;
	}

	.contain>#list,
	#list>li {
		display: block;
		padding: 0;
		margin: 0;

	}

	.contain>.listContent {
		padding: 0 32px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}

	.contain>#list>li {
		line-height: auto;
		margin-bottom: 20px;
		color: #ccc;
		width: 100%;
		overflow: hidden;
		position: relative;
	}

	.contain>#list>li .close {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 18px;
		line-height: 18px;
		text-align: center;
		border-radius: 100%;
		font-weight: 500;
		font-size: 11px;
		border: 1px solid #ccc;
		color: #ccc;
		text-decoration: none;
		display: inline-block;
	}

	.animEnter {
		animation: enter 500ms ease-in-out forwards;
	}

	.animExit {
		animation: exit 1000ms ease-in-out forwards;
		animation-iteration-count: 1;
	}

	@keyframes enter {
		0% {
			line-height: 0px;
			margin-left: 100%;

		}

		30% {
			line-height: 48px;
			margin-left: 100%;

		}

		40% {
			line-height: 48px;
			margin-left: 100%;

		}

		100% {
			margin-left: 0;
		}
	}

	@keyframes exit {
		0% {
			margin-left: 0;
			line-height: 48px;
			text-decoration: none;
		}


		100% {
			margin-left: 0;
			line-height: 48px;
			text-decoration: line-through;
		}
	}
</style>
<style>
    @import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-left: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%) 0%,
    hsl(241, 81%, 54%) 100%
  );
  --bg-circle: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1) 0%,
    hsla(241, 72%, 46%, 0) 100%
  );

  --text-white: hsl(0, 0%, 100%);
  --text-light: hsl(221, 100%, 96%);
  --text-light-blue: hsl(241, 100%, 89%);
  --text-dark: hsl(224, 30%, 27%);

  --text-primary: hsl(0, 0%, 30%);
  --bg-primary: hsl(0, 0%, 66%);

  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;

  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: var(--font-weight-normal);
}

.reaction {
  --text-primary: hsl(0, 100%, 67%);
  --bg-primary: hsla(0, 100%, 67%, 0.15);
}

.memory {
  --text-primary: hsl(39, 100%, 56%);
  --bg-primary: hsla(39, 100%, 56%, 0.15);
}

.verbal {
  --text-primary: hsl(166, 100%, 37%);
  --bg-primary: hsla(166, 100%, 37%, 0.15);
}

.visual {
  --text-primary: hsl(234, 85%, 45%);
  --bg-primary: hsla(234, 85%, 45%, 0.15);
}

#loaderLine{
	height: 4vh;
}

html,
body,
main,
.result {
  width: 100%;
}

body,
main,
.result {
  display: flex;
  flex-direction: column;
}

html,
body {
  min-height: 100vh;
}

.result {
  padding: 1.5rem 1.5rem 2.5rem;
  background: var(--bg-left);
  border-radius: 0 0 30px 30px;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.result .subtitle {
  color: var(--text-light-blue);
}

.circle {
  width: 150px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--bg-circle);
  display: grid;
  place-content: center;
}

.circle_numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle_numbers_result {
  font-size: 3.5rem;
  font-weight: var(--font-weight-extra-bold);
  color: var(--text-white);
}

.circle_numbers_total {
  color: var(--text-light-blue);
}

.title {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: var(--text-white);
}

.paragraph {
  margin-top: 0.5rem;
  color: var(--text-light-blue);
  text-align: center;
}

.summary {
  padding: 1.5rem 1.5rem 2.5rem;
}

.summary .subtitle {
  color: var(--text-dark);
  font-weight: var(--font-weight-extra-bold);
}

.summary_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary_list_item {
	width: 100%;
    height: auto;
    padding: 0 0.8rem;
    background-color: hsl(217.71deg 100% 92.66%);
    border-radius: 10px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    --text-primary: #303b5a;
    font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.summary_list_item_title_container {
  display: flex;
  gap: 0.5rem;
}

.summary_list_item_title {
  font-size: 1rem;
  color: var(--text-primary);
}

.summary_list_item_result_numbers_result {
  color: var(--text-dark);
  font-weight: var(--font-weight-extra-bold);
}

.summary_list_item_result_numbers_total {
  color: var(--text-light-blue);
}

.summary_button {
  width: 100%;
  height: 45px;
  margin-top: 1rem;
  background-color: var(--text-dark);
  border-radius: 50px;
  color: var(--text-light);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  border: none;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 0.25s ease;
}

.summary_button:hover {
  background: hsl(219.42deg 79.19% 66.08%)
}
.summary{
	overflow: scroll;
	width: 50%;
}

.circle{
	display: block;
}

@media (min-width: 1200px) {
  body {
    justify-content: center;
  }

  main {
    width: fit-content;
    padding: 0;
    margin: 0 auto;
    border-radius: 30px;
    box-shadow: 0px 20px 20px 0px var(--text-light);
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
  }

  .result {
    width: fit-content;
    border-radius: 30px;
    justify-content: center;
	position: sticky;
    top: 0px;
    left: 0px;
	width: 50%;
  }

  

  .paragraph {
    width: 250px;
  }

  .summary_list {
	width: 100%;
  }
  #mainId{
	max-height: 65vh;
	width: 50%;
  }
  .summary_button{
	position: sticky;
    bottom: -20px;
    left: 50%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.summary{
	padding: 3.5rem 1.5rem 2.5rem;
}
 
}

 @media screen  and (min-width:700px) and (max-width:1200px) {
	 body{
		display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	 }
	/* .summary{
		overflow: unset;
	}

	.summary_button{
		position: sticky;
    bottom: 10px;
    left: 50%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
	}
	#mainId{
		width: 100%;
	}
	.result{
		width: 100%;
	}
	.summary{
		width: 100%;
	}
	.circle{
		display: none;
	} */
	#mainId{
		display: flex;
		flex-direction: row;
		max-height: 60vh;
		width: 90%;
		
	}
.result {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
  border-radius: 30px;
}
} 

@media screen  and (max-width:700px) {
	 body{
		display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	font-size: smaller;
	 }
	 .summary_list_item{
		display: flex;
    align-items: center;
    justify-content: flex-start;
	/* padding: 0px; */
	margin: 0px;
	 }

	 .summary_list_item,.summary_list_item_title {
		font-size: 12px;
		font-weight: bold;
		text-align: left;
	 }
	 .circle_numbers_result{
		font-size: 33px;
	 }
	 .circle_numbers_total{
		font-size: 10px;
	 }
	 .title,.subtitle{
		font-size: 15px;
		margin: 0px;
	 }
	 .summary > .subtitle{
		font-size: 15px;
	 }
	.summary{
		padding: 1.5rem 0.5rem 2.5rem;
	}

	#mainId{
		display: flex;
		flex-direction: row;
		max-height: 40vh;
		width: 90%;
		
	}
	.result {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 100%;
	justify-content: center;
	border-radius: 15px;
	}
	.summary_list{
		gap: 0.5rem;
	}
	.result{
		padding: 1.5rem 1.5rem 0.5rem;
	}
	#loaderLine{
	height: 2vh;
}
.title{
	width: max-content;
}
} 


</style><script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script></head>







<body data-new-gr-c-s-check-loaded="14.1166.0" data-gr-ext-installed="">


    <main id="mainId" class="ftco-animate fadeInUp ftco-animated">
	<div id="loaderLine" style="
    
    width: 100%;
    background: rgb(48, 59, 90);
    display: block;
    position: absolute;
    top: -2px;
    z-index: 100;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    transition: all 0.1s ease 0s;
    left: 0px;
"></div>
        <section class="result" style="
  
    background: linear-gradient(45deg, rgb(91, 140, 235), rgb(192, 215, 255));color: white;gap: 20px;">
          <h2 class="subtitle" style="
    color: white;
    font-weight: bold;
">Medicomp India</h2>
          <div class="circle" style="
    background:transparent;
    color: white;
">
            <p class="circle_numbers" style="margin: 0px;">
				<span class="circle_numbers_total" style="color: white;">Hunting Prices <br> From</span>
				<span class="circle_numbers_result">17</span>
				<span class="circle_numbers_total" style="color: white;">Pharmacies Online</span>
            </p>
          </div>
          <h1 class="title" id="med"><%=t[t.length-1]%></h1>
		  <script>
			const title = document.getElementById('med');
const maxLength = 15; // Set the maximum number of characters
title.textContent = title.textContent.slice(0, maxLength)+"...";
		  </script>
		  
          <!-- <p class="paragraph" style="
    color: white;
    font-weight: 600;
">Online Pharmacies Sell This Medicine💊.</p> -->
        </section>
        <section class="summary">
          <h2 class="subtitle">Online Pharmacies Sell This Medicine💊.</h2>
          <ul class="summary_list">

		<%var Pharmacy_Name%>	
		<%var Pharmacy_Ratings%>	

			<%for(var k=0;k<t.length-2;k++){%>

				<%
			 if (t[k].includes("apollo")) {
					Pharmacy_Name ="Apollo Pharmacy";
					Pharmacy_Ratings=4.7;
				}else if (t[k].includes("netmeds")) {
				Pharmacy_Name ="Netmeds";
				Pharmacy_Ratings=4.5;
			} else if (t[k].includes("pharmeasy")) {
				Pharmacy_Name = "Pharmeasy";
				Pharmacy_Ratings=4.7;
			}
			else if (t[k].includes("tabletshablet")) {
				Pharmacy_Name = "Tablet Shablet";
				Pharmacy_Ratings=3.7;
			} else if (t[k].includes("pulseplus")) {
				Pharmacy_Name = "Pulse Plus";
				Pharmacy_Ratings=3;
			} else if (t[k].includes("myupchar")) {
				Pharmacy_Name = "My Upchar";
				Pharmacy_Ratings=3;
			} else if (t[k].includes("pasumai")) {
				Pharmacy_Name = "Pasumai Pharmacy";
				Pharmacy_Ratings=3.9;
			} else if (t[k].includes("medplusmart")) {
				Pharmacy_Name = "Medplusmart";
				Pharmacy_Ratings=4;
			} else if (t[k].includes("truemeds")) {
				Pharmacy_Name = "TrueMeds";
				Pharmacy_Ratings=4.4;
			} else if (t[k].includes("1mg")) {
				Pharmacy_Name = "Tata 1mg";
				Pharmacy_Ratings=4.7;
			} else if (t[k].includes("onebharatpharmacy")) {
				Pharmacy_Name = "Onebharat Pharmacy";
				Pharmacy_Ratings=3.7;
			} else if (t[k].includes("kauverymeds")) {
				Pharmacy_Name = "Kauverymeds";
				Pharmacy_Ratings=3;
			} else if (t[k].includes("indimedo")) {
				Pharmacy_Name = "Indi Medo";
				Pharmacy_Ratings=3.3;
			} else if (t[k].includes("wellnessforever")) {
				Pharmacy_Name = "Wellness Forever";
				Pharmacy_Ratings=4.3;
			} else if (t[k].includes("secondmedic")) {
				Pharmacy_Name = "Second Medic";
				Pharmacy_Ratings=3;
			} else if (t[k].includes("chemistsworld")) {
				Pharmacy_Name = "Chemists World";
				Pharmacy_Ratings=3;
			} else if (t[k].includes("callhealth")) {
				Pharmacy_Name = "Call Health";
				Pharmacy_Ratings=2.7;
			}else if (t[k].includes("chemistbox")) {
				Pharmacy_Name = "Chemist Box";
				Pharmacy_Ratings=2.2;
			}else if (t[k].includes("wellness")) {
				Pharmacy_Name = "Wellness Forever";
				Pharmacy_Ratings=4.2;
			}
			%>

            <li class="summary_list_item reaction">
              <div class="summary_list_item_title_container">
                <img src="./assets/images/icon-reaction.svg" alt="">
                <h3 class="summary_list_item_title"><%=Pharmacy_Name%></h3>
              </div>
              <!-- <div class="summary_list_item_result">
                <p class="summary_list_item_result_numbers">
                  <span class="summary_list_item_result_numbers_result"><small>Ratings</small>
						 <%=Pharmacy_Ratings%>
						</span>
                </p>
              </div> -->
            </li>
			<%}%>
      
          
          
          </ul>
		  <form action="/medicomp" method="post" style="height: 0px;" id="mainform">
			<input type="text" name="medlinks" id="medlinks" value="<%=t%>" style="height: 0px;width: 0px;font-size: 0px;visibility: hidden;">
			<input type="text" name="medicinePackSize" id="medicinePackSize" value="<%=t[t.length-2]%>" style="height: 0px;width: 0px;font-size: 0px;visibility: hidden;">
			<input type="text" name="MedicineName" id="MedicineName" value="<%=t[t.length-1]%>" style="height: 0px;width: 0px;font-size: 0px;visibility: hidden;">
		</form>
		<!-- <button onclick="done()" class="summary_button">Compare Prices</button></section> -->
      </main>

	 
	  <script>
		 document.addEventListener('DOMContentLoaded', async (event) => {
			document.getElementById('mainform').submit();
			let count = 10;
			const interval = setInterval(() => {
				console.log(count);
				document.getElementById('loaderLine').style.width=`${count}%`;
				document.getElementById('loaderLine').style.transition=`all 0.1s`;
				count++;
				if (count === 101) {
					clearInterval(interval);
				}
			}, 100); 

				
    //   console.log("inside func")
				// 				await axios({
				// 					method: "GET",
				// 					url: `/storeSearchedMedicineData?medicineName=${document.getElementById('MedicineName').value}`,
				// 				})

				// 					.then((res) => {
                    
                //   })
     });
	  </script>
     

</body></html>