<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Medicomp India | Multiple Results</title>

    <meta name="title" content="Medicomp India Results">
    <meta name="description"
        content="India's 1st platform to compare medicine prices.We provide unbiased information on various medicines available in the Indian market.
        Medicomp india is a company that provides price comparison for medicines and medical equipment. We are India’s first and largest price comparison service for medical products. Our team is driven by the vision of making healthcare affordable for the masses. We have helped thousands of patients save big on their medical treatment.
We provide unbiased information on various medicines ,offers and prescriptions available in the Indian market. This information is provided through a price comparison engine that helps patients to make an informed purchase decision. ">
    <meta name="keywords"
        content="medicine price compare,apollo pharmacy,netmeds.pulse plus,tata 1mg,pharmeasy,
        medicine prices, online comparison, prescription drugs, generic drugs, brand name drugs, affordable medications, pharmacy prices, drug costs, healthcare, pharmaceuticals,
        medicine, price comparison, online, healthcare, prescription drugs, generic drugs, brand-name drugs, drug prices, discounts, savings, pharmacies, healthcare costs, health insurance, 
        drug information, drug reviews, medication costs, drug savings, drug coupons, online pharmacies, drug price comparison, drugstore, pharmaceuticals,
        medicomp india,price compare online,medication prices, pharmacy prices, online pharmacy, drug prices, prescription prices, generic medication prices, 
        brand medication prices, drugstore prices, health prices, compare medication prices, cheapest medication prices, best medication prices, medication price comparison, drug price comparison, pharmacy price comparison.
        3meds,compare medicine prices online,krishil sheth,india's 1st pltform to compare medicine prices,live prices of medicines,medicomp,Medicomp India,India, ">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Krishil Rohit Sheth">
    <meta charset="utf-8">
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6943409373544581"
     crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script> 
    <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">

   
    
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
<!-- or -->
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
</head>

<body id="bdy">
 

  <% 
        getDeliveryChargeForApollo=function(totalMedPrice)
        { 
          var dc=0; 
          if(parseInt(totalMedPrice)< 300) { 
            dc=99; 
          } 
          else if (parseInt(totalMedPrice)>= 300 && parseInt(totalMedPrice) < 500) { 
            dc=69; 
          } else if(parseInt(totalMedPrice)>= 499 && parseInt(totalMedPrice) < 800) {
             dc=25; 
            }else if(parseInt(totalMedPrice)>= 800) {
            dc = 0;
            }
          
            return dc;
            }

        function getDeliveryChargeForPharmeasy(totalMedPrice){
          var dc=0; 
          console.log("pharmeay->"+parseInt(totalMedPrice))
          if (parseInt(totalMedPrice) < 250) {
                  dc = 149;
              } else if (parseInt(totalMedPrice) >= 250 && parseInt(totalMedPrice) < 500) {
                  dc = 99;
              } else if (parseInt(totalMedPrice) >= 500 && parseInt(totalMedPrice) < 699) {
                  dc = 25;
              } else if (parseInt(totalMedPrice) >= 699) {
                  dc = 0;
              }
              return dc;
      }

      function getDeliveryChargeForNetmeds(totalMedPrice){
        var dc=0;
          if (parseInt(totalMedPrice) < 250) {
              dc = 99;
          } else if (parseInt(totalMedPrice) >= 250 && parseInt(totalMedPrice)< 1000) {
              dc = 29;
          } else if (parseInt(totalMedPrice) >= 1000) {
              dc = 0;
          }
          return dc;
      }

      function getDeliveryChargeForHealthskool(totalMedPrice){
        var dc=0;
        
        if (parseInt(totalMedPrice) <= 999) {
            dc = 40;
        } else if (parseInt(totalMedPrice) > 999) {
            dc = 0;
        }
        return dc;
    }

   

    function getDeliveryChargeForPulsePlus(totalMedPrice){
      var dc=0;
      if (parseInt(totalMedPrice) < 1000) {
          dc = 50;
      } else if (parseInt(totalMedPrice) >= 1000) {
          dc = 15;
      }
  
      return dc;
  }  

  function getDeliveryChargeForPasumai(totalMedPrice){
    var dc=0;
    if (totalMedPrice < 1000) {
      dc = 50;
  } else if (totalMedPrice >= 1000) {
      dc = 0;
  }
    return dc;
}  

  function getDeliveryChargeFormyupchar(totalMedPrice){
    var dc=0;
    if (parseInt(totalMedPrice) < 499) {
        dc = 49;
    } else if (parseInt(totalMedPrice) > 500) {
        dc = 0;
    }

    return dc;
}
function getDeliveryChargeForTabletShablet(totalMedPrice){
  var dc=0;

  if (parseInt(totalMedPrice) < 500) {
      dc = 68.88;
  } else if (parseInt(totalMedPrice) >= 500 && parseInt(totalMedPrice) < 1000) {
      dc = 50.40;
  } else if (parseInt(totalMedPrice) >= 1000) {
      console.log('hie')
      dc = 0;
  }
  return dc;
}

function getDeliveryChargeForMedPlusMart(totalMedPrice){
  var dc=0;
  if (parseInt(totalMedPrice) < 200) {
    dc = 40;
} else if (parseInt(totalMedPrice) >= 200 ) {
    dc = 20;
} 

  return dc;
}

function getDeliveryChargeForTruemeds(totalMedPrice){
  var dc=0;
  if (parseInt(totalMedPrice) < 200) {
    dc = 40;
} else if (parseInt(totalMedPrice) >= 200 ) {
    dc = 20;
} 

  return dc;
}
function getDeliveryChargeFor1mg(totalMedPrice){
  var dc=0;
  if (parseInt(totalMedPrice) < 200) {
    dc = 40;
} else if (parseInt(totalMedPrice) >= 200 ) {
    dc = 20;
} 

  return dc;
}

        %>
    
        <style>
          *,
          *::before,
          *::after {
            box-sizing: border-box;
          }
      
          :root {
            --background: rgba(255, 255, 255, 0);
            --surface: rgba(0, 0, 0, 0);
            --block: rgb(255, 255, 255);
            --loader: rgb(170, 170, 170);
            --space: 1rem;
          }
      
          @media (prefers-color-scheme: dark) {
            :root {
              --background: #ffffff;
              --surface: #1d283a;
              --block: #344256;
              --loader: white;
            }
          }
      
          .skeleton {
            /* width: clamp(200px, 50vmin, 20rem); */
            height: 10px;
            overflow: hidden;
            padding: var(--space);
            border: 1px solid #ffffff;
            border-radius: calc(var(--space) * 0.5);
            width: 100%;
            background-color: var(--surface);
          }
      
          .skeleton__block {
            background: linear-gradient(-75deg, transparent 40%, var(--loader), transparent 60%) 0 0 / 200% 100%, var(--block);
            border-radius: calc(var(--space) * 0.5);
            animation: load 2s infinite linear;
            background-attachment: fixed;
          }
      
          @keyframes load {
            to {
              background-position: 200% 0;
            }
          }
      
          .skeleton__block:first-of-type {
            grid-row: 1 / -1;
            aspect-ratio: 1;
          }
          #medlists{
            width:33%;
            margin: 0px;
          }
          @media screen and (max-width:500px) {
            #medlists{
              width:100%;
              margin: 0px;
            }
            
          }
        </style>

<div id="combdatablockwithmednames" style="font-size: 0px;height: 0px;"><%=final[final.length-1].combiString.medNames%></div>


        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
          <div class="container">
            <a class="navbar-brand" href="index.html">Medicomp India.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
              aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="oi oi-menu"></span> Menu
            </button>
      
            <div class="collapse navbar-collapse" id="ftco-nav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <!-- <li class="nav-item"><a href="tour.html" class="nav-link">Tour</a></li> -->
                <li class="nav-item"><a href="https://medicomp.in/#nearby" class="nav-link">NearBy Chemists</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Blogs</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
                <li class="nav-item cta"><a href="contact.html" class="nav-link"><span>Add listing</span></a></li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- END nav -->
        
        <div class="hero-wrap js-fullheight" id="fullheight"
        style="background: url(wave3F.png);background-repeat: no-repeat;background-color: #eff4ff;background-size:cover;">
        <!-- <span><img src="doctoon-removebg-preview.png" style="position: absolute;bottom:0px;right: 0px;height: 50vh;width: auto;" alt=""></span> -->
        <div class="overlay"></div>
        <div class="container" id="idcontainer">
          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
              <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="index.html">Home</a></span> <span>Results</span></p>
              <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Results</h1>
            </div>
          </div>
          </div>
          </div>
    

        <%var count=0%>
          <%var deliveryCharge=0%>
            <%var finalPrice=0%>
            <% var imgurl=''%>
            <% var numberOfMeds=0%>
            

        

              
              <section class="ftco-section ftco-degree-bg" id="algoStart" style="padding-top: 10em;">
                <div class="container">

                  

                  <div class="row">

                  
                    <% const imageLogos={
                       "Apollo" : 'https://image3.mouthshut.com/images/imagesp/925643839s.png'
                      , "NetMeds" : 'https://cashbackpot.in/img/netmedsede7e2b6d13a41ddf9f4bdef84fdc737.png'
                      , "PharmEasy" : 'https://etimg.etb2bimg.com/photo/92979760.cms'
                      , "HealthsKool Pharmacy" : 'https://www.healthskoolpharmacy.com/assets/uploads/326389268.png'
                      , "Pasumai Pharmacy" : 'https://content.jdmagicbox.com/comp/tirupur/m8/9999px421.x421.120614111802.r2m8/catalogue/pasumai-pharmacies-india-pvt-ltd-tirupur-ho-tirupur-chemists-kb992ui.jpg'
                      , "flipkart" : 'https://cdn.grabon.in/gograbon/images/merchant/1653477064516/flipkart-health-plus-logo.jpg'
                      , "PulsePlus" : 'https://aniportalimages.s3.amazonaws.com/media/details/pulsepluspiximpov23jkgh_8zvoiRv.jpg'
                      , "Tablet Shablet" : 'https://www.tabletshablet.com/wp-content/uploads/2020/09/TBS_logo.jpg'
                      , "healthmug" : 'https://static.oxinis.com/healthmug/image/healthmug/healthmuglogo-192.png'
                      , "myupchar" : 'https://image.myupchar.com/8910/original/jobs-in-myupchar-delhi-healthcare-healthtech-techjobs-content-doctor-marketing.jpg'
                      , "MedplusMart" :"https://upload.wikimedia.org/wikipedia/commons/3/3c/Medplus_logo.jpg"
                      , "TrueMeds" :"https://www.truemeds.in/logo192.png"
                      , "Tata 1mg" :"https://i.pinimg.com/736x/2a/61/83/2a618394e93bbdf6c4515463df2651af.jpg"
                     } 
                      %>

                      <div class="row" id="phoneDisp">

                        
                        <div class="col-md-12 ftco-animate fadeInUp ftco-animated">
                          <div id="accordion">
                            <div class="row">
                              <div class="col-md-6" style="display: block;margin: auto;">

                                <% for(var k=0;k < 9; k++) {%>

                                        <% for(var i=0; i < final.length-1; i++) {%>
                                        <%if(final[i][0][k].name){%>
                                                <%if(final[i][0][k].price){%>
                                                <%count=parseFloat(count)+parseFloat((final[i][0][k].price.toString()).replace(/,/g, ""))%>
                                                <%}else{%>
                                                 <%count=parseFloat(count)+parseFloat((final[i][0][k].price))%>
                                                <%}%>
                                          <%}else{%>
                                          <%count=count+0%>
                                          <%}%>
                                       <%}%>

                                       
                                    
                                                <div class="card" style="width: 95%;
                                                display: block;
                                                margin: auto;margin-bottom: 20px;">
                                                  <div class="card-header">
                                                    <a class="card-link" data-toggle="collapse" href="#menu<%=k%>"
                                                      aria-expanded="false" aria-controls="menu<%=k%>" style="height: 160px;">
                                                      <% for(var i=0; i < final.length-1; i++) {%>
                                                        <%if(imageLogos[final[i][0][k].name]){%>
                                                          <%imgurl=imageLogos[final[i][0][k].name]%>
                                                        <%}%>
                                                        <%if(final[i][0][k].item){%>
                                                          <%numberOfMeds=numberOfMeds+1%>
                                                          <%}%>
                                                        <%}%>
                                                        <img
                                                            src="<%=imgurl%>" style="width: 30%;margin: 0;
                                                            position: relative;
                                                            top: 50%;
                                                            -ms-transform: translateY(-50%);
                                                            transform: translateY(-50%);"
                                                            alt="">
                                                      <span class="collapsed"><i class="icon-plus-circle"></i></span>
                                                      <span style="position: absolute;
                              bottom: 0px;
                              right: 5px;">
                              <span style="font-size: medium;float: none;"> Cart Total : </span>
                              <span style="font-weight: bold;">₹ <%= (parseFloat(count)+ parseFloat(deliveryCharge)).toFixed(2)%></span>
                            </span>
                              <span style="
                              position: absolute;
                              top: 17px;
                              right: 50px;
                              font-size: small;
                              color: gray;
                              font-style: italic;
                              "><%=numberOfMeds%> of <%=final.length-1%> medicines found</span>
                                                      <span class="expanded"><i
                                                          class="icon-minus-circle"></i></span></a>
                                                  </div>
                                                  <div id="menu<%=k%>" class="collapse">
                                                    <div class="card-body">
                                                      <div class="destination">

                                                        <div class="text p-3" style="border-top: none;border: 1px solid #e6e6e6;">
                                                          <% for(var i=0; i < final.length-1; i++) {%>
                                                            <div class="d-flex" style="height: auto;">
                                                              <div class="one" style="height: auto;">
                                                                <h3 style="
                                    overflow-wrap: anywhere;
                                "><a href="<%=final[i][0][k].link%>" id="mediname">
                                                                    <span style="color: gray;">
                                                                      <%if(final[i][0][k].item){%>
                                                                        <%=final[i][0][k].item%><span>...</span>
                                                                        <%}else{%>
                                                                         <i> <span>NA</span> </i>
                                                                          <%}%>
                                                                    </span>
                                                                  </a></h3>

                                                              </div>
                                                              <div class="two">
                                                                <span style="font-size: medium;float: right;">&nbsp;
                                                                  <%=final[i][0][k].price%>
                                                                </span>

                                                                <!-- <span class="price">₹  <%if(final[i][0][k].deliveryCharge!="login"){%>
                                    <%=(parseFloat(final[i][0][k].price) + parseFloat(final[i][0][k].deliveryCharge)).toFixed(2)%>
                                    <%}else{%>
                                      <%=parseFloat(final[i][0][k].price)%>
                                      <%}%></span> -->
                                                              </div>
                                                            </div>
                                                            <!-- <p class="days"><span>2 days 3 nights</span></p> -->
                                                            <hr>

                                                            <%if(i==final.length-1){%>


                                                              <%
                                                             if (k==0) {
                                                              deliveryCharge=getDeliveryChargeForNetmeds(count)
                                                            } else if (k==1) {
                                                             console.log("in pharmeasy")
                                                              deliveryCharge=getDeliveryChargeForPharmeasy(count)
                                                            } 
                                                          
                                                             else if (k==2) {
                                                              deliveryCharge=getDeliveryChargeForTabletShablet(count)
                                                            } else if (k==3) {
                                                              deliveryCharge=getDeliveryChargeForPulsePlus(count)
                                                            } else if (k==4) {
                                                              deliveryCharge=getDeliveryChargeFormyupchar(count)
                                                            } else if (k==5) {
                                                              deliveryCharge=getDeliveryChargeForPasumai(count)
                                                            } else if (k==6) {
                                                              deliveryCharge=getDeliveryChargeForMedPlusMart(count)
                                                            }else if (k==7) {
                                                              deliveryCharge=getDeliveryChargeForTruemeds(count)
                                                            }else if (k==8) {
                                                              deliveryCharge=getDeliveryChargeFor1mg(count)
                                                            }
                                                            %>

                                                              <span style="float: right;">Medicine Total > <%=count.toFixed(2)%>
                                                              </span> <br>
                                                              <spa style="float: right;">Delivery Price  > <%=deliveryCharge %>
                                                              </spa> <br>

                                                              <%}%>
                                                                <%}%>
                                                                  <%count=0%>
                                                                    <%deliveryCharge=0%>
                                                                        <%numberOfMeds=0%>

                                                                      <p class="bottom-area d-flex">
                                                                        <span class="ml-auto">
                                                                          <input type="text" name="medlink" id="medlink"
                                                                            value="#"
                                                                            style="visibility:hidden;height: 0px;width: 0px;">
                                                                          <input type="text" name="medName" id="medName"
                                                                            value="#"
                                                                            style="visibility:hidden;height: 0px;width: 0px;">

                                                                          <a id="smbtn" type="submit" value="BUY"
                                                                            href="#"
                                                                            style="border: none;background-color: lightgreen;width: 100%;text-align: center;">&nbsp;BUY&nbsp;</a>
                                                                          </form>
                                                                          <style>
                                                                            #smbtn:hover {
                                                                              cursor: pointer;
                                                                            }
                                                                          </style>
                                                                        </span>
                                                                      </p>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>

                              <%}%>


                              </div>


                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-lg-9" id="lapDisp" style="
          margin: auto;">

<style>
  *{
    scroll-behavior: smooth;
  }
  #algoSuggest {
      margin: 50px;
      border: 1px dotted black;
      padding: 5px;
      box-shadow: 1px 1px 0.5px black;
      background: #a4c1f9;
      color: white;
      border-radius: 5px;
      margin-left: 0px;
  }

  #algoSuggest img {
      height: 30px;
      width: 30px;
      filter: invert(1);
  }

  #algoSuggest:hover {
     
      margin: 50px;
      border: 1px dotted black;
      padding: 5px;
      box-shadow: 0px 0px 0px black;
      background: #87abec;
      color: white;
      border-radius: 5px;
      margin-left: 0px;
  }
  .skel {
					animation: h3skeleton 2s infinite;
				}

				@keyframes h3skeleton {
					0% {
						background-color: white;
					}

					50% {
						background-color: rgb(231 231 231);
					}

					100% {
						background-color: white;
					}

				}
</style>


<div id="algoComparisonBlock"  style="
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 0 0 100%;
    display: none;
">

  <div id="blockLeft"style="
  max-width: 78%;
  flex: 0 0 45%;
">

  </div>  

  <div class="col-md-4 ftco-animate fadeInUp ftco-animated" style="
    max-width: 78%;
    flex: 0 0 50%;
">
    <div class="destination">
















      <a href="#" id="imagesection" class="img img-2 d-flex justify-content-center align-items-center skel"
        style="background-size: contain;background-image: url(#);">


        <div class="icon d-flex justify-content-center align-items-center">
          <span class="icon-search2"></span>
        </div>
      </a>

      <div class="text p-3" id="algoBlockWheredataisadded">

        <div class="d-flex" style="height: auto;">
          <div class="one" style="height: auto;">
            <h3 style="
                        overflow-wrap: anywhere;
                    "><a href="https://www.apollopharmacy.in/medicine/endoreg-2mg-tablet-14-s" id="mediname">


                <span style="color: transparent;" class="skel" id="firstCombiMedName">
                  Endoreg Tablet 14's...
                </span>


              </a></h3>

          </div>
          <div class="two">
            <span style="font-size: medium;color: transparent;font-weight: bold;" class="skel" id="firstCombiMedSource">&nbsp;
              677
            </span>
            <!-- <span class="price">₹  
												702.00
												</span> -->
          </div>
        </div>
        <!-- <p class="days"><span>2 days 3 nights</span></p> -->
        <hr>



        <div class="d-flex" style="height: auto;">
          <div class="one" style="height: auto;">
            <h3 style="
                        overflow-wrap: anywhere;
                    "><a href="https://perfmedicine.apollopharmacy.in/otc/crocin-pain-relief-tablet" id="mediname">


                <span style="color: transparent;" class="skel" id="secondCombiMedName">
                  Crocin Pain Relief Tablet 15's...
                </span>


              </a></h3>

          </div>
          <div class="two">
            <span style="font-size: medium;color: transparent;font-weight: bold;" class="skel" id="secondCombiMedSource">&nbsp;
              61.2
            </span>
            <!-- <span class="price">₹  
												160.20
												</span> -->
          </div>
        </div>
        <!-- <p class="days"><span>2 days 3 nights</span></p> -->
        <hr>

























        <!-- <span style="float: right;">Medicine Total &gt; ₹738.20 -->
        <!-- </span> <br> -->
        <!-- <span style="float: right;">Delivery Price &gt; ₹25</span> -->
        <br>
        <p style="font-size: large;float: right;"><b>Cart Total :
            <span style="font-weight: bold;color: transparent;" class="skel" id="CombiCartTotal"> ₹
              763.20
            </span>
          </b>
        </p> <br>





        <p class="bottom-area d-flex">
          <span class="ml-auto">
            <input type="text" name="medlink" id="medlink" value="#" style="visibility:hidden;height: 0px;width: 0px;">
            <input type="text" name="medName" id="medName" value="#" style="visibility:hidden;height: 0px;width: 0px;">

            <a id="smbtn" type="submit" value="BUY" href="#"
              style="border: none;background-color: lightgreen;width: 100%;text-align: center;">&nbsp;BUY&nbsp;</a>

            <style>
              #smbtn:hover {
                cursor: pointer;
              }
            </style>
          </span>
        </p>
      </div>
    </div>
  </div>

</div>



<!-- 
<a href="#algoStart">
  <button id="algoSuggest" onclick="showAlgoComparisonBox()"><img src="sparkler.png" alt="" srcset=""> Algo
  Suggest</button>
</a>
 -->







                        <div class="row">

                          <% for(var k=0;k < 9; k++) {%>
                            <div class="col-md-4 ftco-animate" id="blockToCopyForAlgo">
                              <div class="destination">
                           
                                <% for(var i=0; i < final.length-1; i++) {%>
                                  <%if(imageLogos[final[i][0][k].name]){%>
                                    <%imgurl=imageLogos[final[i][0][k].name]%>
                                  <%}else{%>
                                 <%
                                     if (k==0) {
                                    console.log("in netmeds")
                                    imgurl=imageLogos["NetMeds"]
                                  } else if (k==1) {
                                   imgurl=imageLogos["PharmEasy"]
                                  }else if (k==2) {
                                    imgurl=imageLogos["Tablet Shablet"]
                                  } else if (k==3) {
                                    imgurl=imageLogos["PulsePlus"]
                                  } else if (k==4) {
                                    imgurl=imageLogos["myupchar"]
                                  } else if (k==5) {
                                    imgurl=imageLogos["Pasumai Pharmacy"]
                                  } else if (k==6) {
                                     imgurl=imageLogos["MedPlusMart"]
                                  }else if (k==7) {
                                    imgurl=imageLogos["Truemeds"]
                                 }else if (k==8) {
                                  imgurl=imageLogos["1mg"]
                               }
                                  %>
                                    <%}%>
                                  <%if(final[i][0][k].item){%>
                                    <%numberOfMeds=numberOfMeds+1%>
                                    <%}%>
                                  <%}%>

                                  <a href="#" id="imagesection"
                                    class="img img-2 d-flex justify-content-center align-items-center"
                                    style="background-size: contain;background-image: url(<%=imgurl%>);">
                                 

                                                    <div class="icon d-flex justify-content-center align-items-center">
                                                      <span class="icon-search2"></span>
                                                    </div>
                                              </a>

                                              <div class="text p-3">
                                                <% for(var i=0; i < final.length-1; i++) {%>
                                                  <div class="d-flex" style="height: auto;">
                                                    <div class="one" style="height: auto;">
                                                      <h3 style="
                        overflow-wrap: anywhere;
                    "><a href="<%=final[i][0][k].link%>" id="mediname">
                                                          
                                                            <%if(final[i][0][k].item){%>
                                                              <span style="color: gray;">
                                                              <%=final[i][0][k].item%>...
                                                            </span>
                                                            <%}else{%>
                                                              <span style="color: gray;font-style: italic;">
                                                                NA
                                                              </span>
                                                              <%}%>
                                                        
                                                        </a></h3>

                                                    </div>
                                                    <div class="two">
                                                      <span style="font-size: medium;color: black;font-weight: bold;">&nbsp;
                                                        <%=final[i][0][k].price%>
                                                      </span>
                                                      <!-- <span class="price">₹  <%if(final[i][0][k].deliveryCharge!="login"){%>
												<%=(parseFloat(final[i][0][k].price) + parseFloat(final[i][0][k].deliveryCharge)).toFixed(2)%>
												<%}else{%>
													<%=parseFloat(final[i][0][k].price)%>
													<%}%></span> -->
                                                    </div>
                                                  </div>
                                                  <!-- <p class="days"><span>2 days 3 nights</span></p> -->
                                                  <hr>

                                                  <%if(i==final.length-2){%>
                                                   

                                                    <% for(var i=0; i < final.length-1; i++) {%>
                                                      <%if(final[i][0][k].price){%>

                                                        <%count=parseFloat(count)+parseFloat((final[i][0][k].price.toString()).replace(/,/g, ""))%>



                                                          <%}else{%>
                                                            <%count=parseFloat(count)+0%>
                                                              <%}%>
                                                                <%}%>
   <%
                                                              if (k==0) {
                                                              deliveryCharge=getDeliveryChargeForNetmeds(count)
                                                            } else if (k==1) {
                                                             console.log("in pharmeasy")
                                                              deliveryCharge=getDeliveryChargeForPharmeasy(count)
                                                            } else if (k==2) {
                                                              deliveryCharge=getDeliveryChargeForTabletShablet(count)
                                                            } else if (k==3) {
                                                              deliveryCharge=getDeliveryChargeForPulsePlus(count)
                                                            } else if (k==4) {
                                                              deliveryCharge=getDeliveryChargeFormyupchar(count)
                                                            } else if (k==5) {
                                                              deliveryCharge=getDeliveryChargeForPasumai(count)
                                                            } else if (k==6) {
                                                              deliveryCharge=getDeliveryChargeForMedPlusMart(count)
                                                            }else if (k==7) {
                                                              deliveryCharge=getDeliveryChargeForMedPlusMart(count)
                                                            }else if (k==8) {
                                                              deliveryCharge=getDeliveryChargeForMedPlusMart(count)
                                                            }
                                                            %>

                                                            
                                                                  
                                                                    <span style="float: right;">Medicine Total > ₹<%=count.toFixed(2)%>
                                                                    </span> <br>
                                                                    <span style="float: right;">Delivery Price > ₹<%= deliveryCharge %></span>
                                                                    <br>
                                                                    <p style="font-size: large;float: right;"><b>Cart Total :
                                                                      <span style="font-weight: bold;color: black;" id="totalPrices"> ₹
                                                                        <%=
                                                                        (parseFloat(count) + parseFloat(deliveryCharge)).toFixed(2) 
                                                                        %>
                                                                      </span>
                                                                    </b>
                                                                         </p> <br>

                                                                    <%}%>
                                                                      <%}%>
                                                                        <%count=0%>

                                                                          <p class="bottom-area d-flex">
                                                                            <span class="ml-auto">
                                                                              <input type="text" name="medlink"
                                                                                id="medlink" value="#"
                                                                                style="visibility:hidden;height: 0px;width: 0px;">
                                                                              <input type="text" name="medName"
                                                                                id="medName" value="#"
                                                                                style="visibility:hidden;height: 0px;width: 0px;">

                                                                              <a id="smbtn" type="submit" value="BUY"
                                                                                href="#"
                                                                                style="border: none;background-color: lightgreen;width: 100%;text-align: center;">&nbsp;BUY&nbsp;</a>
                                                                              </form>
                                                                              <style>
                                                                                #smbtn:hover {
                                                                                  cursor: pointer;
                                                                                }
                                                                              </style>
                                                                            </span>
                                                                          </p>
                                              </div>
                              </div>
                            </div>
                            <%}%>




                        </div>

         
                      </div> <!-- .col-md-8 -->

                  </div>
                </div>
              </section> <!-- .section -->

         
    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Medicomp India.</h2>
              <p>Welcome to Medicomp India, your one-stop solution for comparing medicine prices across
                various pharmacies and online retailers in India.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="https://www.linkedin.com/in/krishilsheth/"><span class="icon-linkedin"></span></a></li>
                <!-- <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li> -->
                <li class="ftco-animate"><a href="https://www.instagram.com/medicomp.india/"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="/about.html" class="py-2 d-block">About</a></li>
                <li><a href="#" class="py-2 d-block">Med A-Z</a></li>
                <!-- <li><a href="#" class="py-2 d-block">Terms and Conditions</a></li> -->
                <li><a href="mailto:krishilsheth@gmail.com?subject=We Want To Collaborate With Medicomp India&body=//text here" class="py-2 d-block">Become a partner</a></li>
                <!-- <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li> -->
                <li><a href="/privacypolicy.html" class="py-2 d-block">Privacy and Policy</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Customer Support</h2>
              <ul class="list-unstyled">
                <li><a href="/about.html" class="py-2 d-block">FAQ</a></li>
                <!-- <li><a href="#" class="py-2 d-block">Payment Option</a></li>
                <li><a href="#" class="py-2 d-block">Booking Tips</a></li>
                <li><a href="#" class="py-2 d-block">How it works</a></li> -->
                <li><a href="/contact.html" class="py-2 d-block">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  
                  <!-- <li><a href="tel:9372677245"><span class="icon icon-phone"></span>
                    
                    <span class="text">9372677245</span></a></li> -->
                  <li><a href="mailto:@krishilsheth@gmail.com"><span class="icon icon-envelope"></span><span
                        class="text">krishilsheth@gmail.com</span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
  
            <p>
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="icon-plus" aria-hidden="true"></i> <a
                href="https://medicomp.in" target="_blank">Medicomp India</a>
            </p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen">
    <!-- <svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg> -->
    <img src="medicomp-loading-unscreen.gif" style="width: 50px;height: 50px;position: absolute;transform:translate(-50%,-50%);filter: brightness(1.1);" alt="">

  </div>

  <script>

    console.log(document.getElementById('phoneDisp'))
    if(document.getElementById('bdy').offsetWidth<1000){
      document.getElementById('phoneDisp').style.display='block';
      document.getElementById('lapDisp').style.display='none';
    }else{
      document.getElementById('phoneDisp').style.display='none';
      document.getElementById('lapDisp').style.display='block';
    }
  </script>

              <script src="js/jquery.min.js"></script>
              <script src="js/jquery-migrate-3.0.1.min.js"></script>
              <script src="js/popper.min.js"></script>
              <script src="js/bootstrap.min.js"></script>
              <script src="js/jquery.easing.1.3.js"></script>
              <script src="js/jquery.waypoints.min.js"></script>
              <script src="js/jquery.stellar.min.js"></script>
              <script src="js/owl.carousel.min.js"></script>
              <script src="js/jquery.magnific-popup.min.js"></script>
              <script src="js/aos.js"></script>
              <script src="js/jquery.animateNumber.min.js"></script>
              <script src="js/bootstrap-datepicker.js"></script>
              <script src="js/jquery.timepicker.min.js"></script>
              <script src="js/scrollax.min.js"></script>
              <script src="js/range.js"></script>
              <script
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
              <script src="js/google-map.js"></script>
              <script src="js/main.js"></script>

             
<script>
  function showAlgoComparisonBox(){
    document.getElementById('algoComparisonBlock').style.display='flex';
  }
</script>


<script>
  var arr=document.getElementById('combdatablock').innerHTML;
  var medNames=document.getElementById('combdatablockwithmednames').innerHTML.split(',');
  // console.log(arr);

  var mainAmt=arr.split('=')[1]
  var f=  (arr.split('=')[0]).split('&')[0].trim()
  var s=  (arr.split('=')[0]).split('&amp;')[1].trim()
  console.log(f)
  console.log(s)

   var fstring;
  var tf=f;
  tf=f.split('from')[0];
  tf=tf.split('');
  var fa="";

  for(var i=0;i<tf.length;i++){

                    if (parseInt(f.split('from')[1]) == 0) {
                      fa+=medNames[tf[i]-1] + " From Apollo"+'\n'
          } else if (parseInt(f.split('from')[1]) == 1) {
            fa+=medNames[tf[i]-1] + " From Netmeds"+'\n'
          } else if (parseInt(f.split('from')[1]) == 2) {
            fa+=medNames[tf[i]-1] + " From Pharmeasy"+'\n'
          }
          //  else if (parseInt(f.split('from')[1]) == 3) {
          //   fa+=medNames[tf[i]-1] + " From Healthskool"+'\n'
          // }
           else if (parseInt(f.split('from')[1]) == 3) {
            fa+=medNames[tf[i]-1] + " From TabletShablet"+'\n'
          } else if (parseInt(f.split('from')[1]) == 4) {
            fa+=medNames[tf[i]-1] + " From PulsePlus"+'\n'
          } else if (parseInt(f.split('from')[1]) == 5) {
            fa+=medNames[tf[i]-1] + " From MyUpChar"+'\n'
          } else if (parseInt(f.split('from')[1]) == 6) {
            fa+=medNames[tf[i]-1] + " From Pasumai"+'\n'
          } else if (parseInt(f.split('from')[1]) == 7) {
            fa+=medNames[tf[i]-1] + " From MedPlusMart"+'\n'
          }



          console.log('jehfrgedi')
          document.getElementById('firstCombiMedName').innerText=fa;
          document.getElementById('firstCombiMedName').classList.remove('skel');
          document.getElementById('firstCombiMedName').style.color='black';
          // document.getElementById('firstCombiMedName').innerHTML=fa;
      }


      var sstring;
  var ts=s;
  ts=s.split('from')[0];
  ts=ts.split('');
  console.log(ts[0]);
  var sa="";

  for(var i=0;i<ts.length;i++){

                    if (parseInt(s.split('from')[1]) == 0) {
                      sa+=medNames[ts[i]-1] + " From Apollo"+'\n';
          } else if (parseInt(s.split('from')[1]) == 1) {
            sa+=medNames[ts[i]-1] + " From Netmeds"+'\n';
          } else if (parseInt(s.split('from')[1]) == 2) {
            sa+=medNames[ts[i]-1] + " From Pharmeasy"+'\n';
          } 
          // else if (parseInt(s.split('from')[1]) == 3) {
          //   sa+=medNames[ts[i]-1] + " From Healthskool"+'\n';
          // } 
          else if (parseInt(s.split('from')[1]) == 3) {
            sa+=medNames[ts[i]-1] + " From TabletShablet"+'\n';
          } else if (parseInt(s.split('from')[1]) == 4) {
            sa+=medNames[ts[i]-1] + " From PulsePlus"+'\n';
          } else if (parseInt(s.split('from')[1]) == 5) {
            sa+=medNames[ts[i]-1] + " From MyUpChar"+'\n';
          } else if (parseInt(s.split('from')[1]) == 6) {
            sa+=medNames[ts[i]-1] + " From Pasumai"+'\n';
          } else if (parseInt(s.split('from')[1]) == 7) {
            sa+=medNames[ts[i]-1] + " From MedPlusMart"+'\n';
          }



          console.log('jehfrgedi')
          document.getElementById('secondCombiMedName').innerText=sa;
          document.getElementById('secondCombiMedName').classList.remove('skel')
          document.getElementById('secondCombiMedName').style.color='black';







          document.getElementById('CombiCartTotal').innerText=mainAmt;
          document.getElementById('CombiCartTotal').classList.remove('skel')
          document.getElementById('CombiCartTotal').style.color='black';
          // document.getElementById('firstCombiMedName').innerHTML=fa;



      }




        </script>


<script>


    var a=document.querySelectorAll('#totalPrices');
    var lowestPrice=parseFloat(a[0].innerHTML.split('₹')[1]);
    var lowestIndex=0;
    console.log("6546788=> "+lowestPrice)
    for(var i=0;i<a.length;i++){
      var temp=a[i].innerHTML;
      console.log(temp)
    
      if(temp){
        temp=parseFloat(temp.split('₹')[1]);
        if(temp<=lowestPrice){
          lowestPrice=temp;
          console.log("yes")
          lowestIndex=i;
        }
      }
    }
    console.log("final--> "+lowestPrice)
    console.log(lowestIndex)

    var f=document.querySelectorAll('#blockToCopyForAlgo');
    document.getElementById('blockLeft').innerHTML=f[lowestIndex].innerHTML;

</script>



</body>

</html>